<div>
  <div class="top-heading" style="align-items: center;display: flex;flex: 1 1 100%;">
    <p style="margin: 0px;">Chart</p>
    <span class="spacer"></span>
        <mat-form-field>
          <mat-select [(value)]="selectedBatterymodule.value" (selectionChange)="onChangebatterymodule($event)">
            <mat-option *ngFor="let list of cellList" [value]="list.value">
              {{list.name}}
            </mat-option>
            <mat-option [value]="'all'">Display All</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
    <div>
      <app-chart [graph]="graph" *ngIf="switchComponents"></app-chart>
      <app-combined-chart [graph]="graph" *ngIf="!switchComponents"></app-combined-chart>
    </div>
</div>
