p {
    font-family: Lato;
  }

  .mat-drawer-content {
    // height: calc(100vh - 200px);
}
  
  .main_content {
    // width:100%; 
    // height: calc(100vh - 100px); 
    background: #efefef;
    min-height: 530px;
    height: 100%;
  }