<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
    <img src="../../../../assets/images/2360-465-max-white.png" />
    <span class="spacer"></span>
    
    <!-- #docregion mat-menu-trigger-for -->
    <button mat-button [matMenuTriggerFor]="menu" class="user-menu">
      <span>test@twaice.com</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <!-- #enddocregion mat-menu-trigger-for -->
    <mat-menu #menu="matMenu">
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links">
          <a matLine style="padding-right: 20px;">{{ link.name }}</a>
          <button mat-icon-button>
              <mat-icon>{{ link.icon }}</mat-icon>
           </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-menu>
</div>