<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'" >
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
      <div class="sidebar">
        <mat-nav-list>
          <ng-container *ngFor="let page of pages">
            <a mat-list-item [routerLink]="[ page.link ]">
              <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }} </span>
            </a>
          </ng-container>
        </mat-nav-list>
      </div>
    </div>
  </div>